.app-wrapper {
  margin: 0 auto;

  width: 100%;
  max-width: 1366px;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "sidebar main";
  
}

.header {
  grid-area: header;
  background-image: linear-gradient(to right, #3c86a6, #f0f7fa);}

.sidebar {
  grid-area: sidebar;
  background-color:#3c86a6;
}

.content {
  grid-area: main;
  background-color: #f0f7fa;
}