html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.app-wrapper {
    margin: 0 auto;

    width: 100%;
    max-width: 1366px;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 10fr;
    grid-gap: 10px;
    grid-template-areas: "header header" "sidebar main";

}

.app-main {
    padding: 20px;
    grid-area: main;
    background-color: #f0f7fa;
}