.sidebar__item {
	margin-bottom: 10px;
	color: #f0f7fa;
	font-size: 20px;
	line-height: 1;
}

.sidebar__item a:hover,
.sidebar__item a.active:hover {
	color: #000000;
}

.sidebar__item a.active {
	color: navy;
	font-weight: 500;
}

.sidebar__item:last-child {
	margin-top: 50px;
}

.sidebar__itemActive {
	color: black;
	font-weight: 700;
}


.sidebar__item a {
	text-decoration: none;
	color: inherit;
}